@font-face {
     font-family: 'fontello';
     src: url('../fonts/fontello.eot?99468216');
     src: url('../fonts/fontello.eot?99468216#iefix') format('embedded-opentype'),
          url('../fonts/fontello.woff?99468216') format('woff'),
          url('../fonts/fontello.ttf?99468216') format('truetype'),
          url('../fonts/fontello.svg?99468216#fontello') format('svg');
     font-weight: normal;
     font-style: normal;
}

[class^="icon-"] {
     font-family: "fontello";
     font-style: normal;
     font-weight: normal;
     text-decoration: none;
     text-transform: none;
     font-size: 26px;
     color: #fff;
}

.icon-skype:before {
     content: '\e800';
}

.icon-icq:before {
     content: '\f304';
}

.icon-mail:before {
     content: '\e804';
}

.icon-phone:before {
     content: '\e802';
}

.icon-twitter:before {
     content: '\f30a';
}

.icon-facebook:before {
     content: '\f30d';
}

.icon-linkedin:before {
     content: '\f319';
}

.icon-gplus:before {
     content: '\f310';
}

.icon-youtube:before {
     content: '\e803';
}
