@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    
    .site-header {
        min-height: none;
    }

    .site-header:before {
        content: "";
        display: block;
        height: 130px;
    }

    .carusel-slide-content {
        min-height: none;
        height: 724px;
    }

    .carusel-slide-content-title,
    .carusel-slide-content-title-main
    {
        width: 600px;
    }

    .carusel-slide-content-p {
        width: 590px;
    }

    .textboxes {
        min-height: none;
    }

    .textboxes:before {
        content: "";
        display: block;
        height: 150px;
    }

    .counters {
        min-height: none;
    }

    .counters:before {
        content: "";
        display: block;
        height: 300px;
    }

    .partners {
        min-height: none;
    }

    .partners:before {
        content: "";
        display: block;
        height: 489px;
    }

    .copyright {
        min-height: none;
    }

    .copyright_wrp {
    align-items: center;
    }
    
    .copyright_wrp:first-child:after {
        content: "";
        display: block;
        height: 111px;
    }
}
