@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    
    .site-header {
        min-height: auto;
    }

    .site-header:before {
        content: "";
        display: block;
        height: 130px;
    }

    .carusel-slide-content {
        min-height: auto;
        height: 724px;
    }

    .carusel-slide-content-title,
    .carusel-slide-content-title-main
    {
        width: 600px;
    }

    .carusel-slide-content-p {
        width: 590px;
    }

    .textboxes-container {
        height: 150px;
    }

    .counters {
        min-height: auto;
    }

    .counters:before {
        content: "";
        display: block;
        height: 300px;
    }

    .partners {
        min-height: auto;
    }

    .partners:before {
        content: "";
        display: block;
        height: 489px;
    }

    .copyright {
        min-height: auto;
    }

    .copyright_wrp {
    align-items: center;
    }
    
    .copyright_wrp:first-child:after {
        content: "";
        display: block;
        height: 111px;
    }
}

@media screen and (-ms-high-contrast: active) and (max-width: 1279px), (-ms-high-contrast: none) and (max-width: 1279px) {

    .latest-projects-item_wrp {
        max-width: 100%;
    }

    .recent-item_wrp {
        max-width: 100%;
    }
}

@media screen and (-ms-high-contrast: active) and (max-width: 1023px), (-ms-high-contrast: none) and (max-width: 1023px) {
    .site-header:before {
        display: none;
    }

    .realization-txt,
    .latest-projects-menu,
    .recent-txt {
        max-width: 100%;
    }

    .copyright_wrp:first-child:after {
        display: none;
    }

    .partners:before {
        display: none;
    }
}

@media screen and (-ms-high-contrast: active) and (max-width: 767px), (-ms-high-contrast: none) and (max-width: 767px) {
.menu-toggle {
    position: absolute;
    right: 0;
    top: 25px;
    }
}

@media screen and (-ms-high-contrast: active) and (max-width: 480px), (-ms-high-contrast: none) and (max-width: 480px) {
    .menu-toggle {
        top: 18px;
    }
}
