@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff2") format("woff2"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-medium.eot");
  src: url("../fonts/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-medium.woff2") format("woff2"), url("../fonts/raleway-medium.woff") format("woff"), url("../fonts/raleway-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff2") format("woff2"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-extrabold.eot");
  src: url("../fonts/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-extralight.eot");
  src: url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat-extralight.woff") format("woff"), url("../fonts/montserrat-extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 100%;
  margin: 0 auto;
  font-family: "montserrat", "verdana", sans-serif;
  box-sizing: border-box;
}

.home-header {
  position: relative;
  width: 100%;
}

.site-header {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  z-index: 1;
  min-width: 1170px;
  left: 50%;
  margin-left: -585px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
  transition: color 150ms;
  margin-right: 159px;
}
.logo:hover {
  color: #998675;
}
.logo:active {
  color: #fff;
}
.logo-svg {
  fill: currentColor;
}
.logo-txt {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu-item {
  margin: 0 30px 0 0;
}
.menu-item:last-child {
  margin: 0;
}
.menu-link {
  color: #fff;
  transition: color 150ms;
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: none;
}
.menu-link:hover {
  color: #998675;
}
.menu-link:active {
  color: #fff;
}
.menu-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart-btn {
  fill: currentColor;
  color: #fff;
  transition: color 150ms;
  background-color: transparent;
  margin-left: 63px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart-btn:hover {
  color: #998675;
}
.cart-btn:active {
  color: #fff;
}

.search {
  margin-left: 28px;
  width: 27px;
  height: 28px;
  position: relative;
}
.search-label {
  display: block;
  width: 27px;
  height: 28px;
  fill: currentColor;
  color: #fff;
  transition: color 150ms;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.search-label:hover {
  color: #998675;
}
.search-label:active {
  color: #fff;
}
.search-input {
  width: 0;
  min-height: 0;
  padding: 6px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -170px;
  color: #fff;
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.search-input:focus {
  width: 200px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
  border-radius: 3px;
}

.carusel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
}
.carusel-slide {
  padding: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  outline: none;
}
.carusel-slide-1 {
  background-color: #585858;
  background-image: url(../img/bgr-carusel.jpg);
}
.carusel-slide-2 {
  background-color: #585858;
  background-image: url(../img/video-file.jpg);
}
.carusel-slide-3 {
  background-color: #585858;
  background-image: url(../img/bgr-partners.jpg);
}
.carusel-slide-4 {
  background-color: #585858;
  background-image: url(../img/video-file.jpg);
}
.carusel-slide-5 {
  background-color: #585858;
  background-image: url(../img/bgr-partners.jpg);
}
.carusel-slide-content {
  margin: 0 auto;
  width: 590px;
  min-height: 724px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carusel-slide-content-title {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  margin: 0 0 5px 0;
}
.carusel-slide-content-title-main {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
  margin: 0 0 10px 0;
}
.carusel-slide-content-p {
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
.carusel-slide-content-btn {
  display: block;
  width: 168px;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 48px;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: 0 -2px 0 0 #736357 inset;
  border: 1px solid transparent;
  border-bottom-color: #736357;
  cursor: pointer;
  outline: none;
  transition: color 150ms, background-color 150ms, border-color 150ms;
  margin: 0;
  margin: 40px 0 0 0;
}
.carusel-slide-content-btn:hover {
  background-color: #fff;
  border-color: #736357;
  color: #8c8c8c;
}
.carusel-slide-content-btn:active {
  background-color: #8c7b6c;
  box-shadow: 0 -2px 0 0 #736357 inset;
  color: #ddd;
}
.carusel-slide-content-btn:focus {
  outline: none;
}

.slick-loading .slick-list {
  background: #fff url(../img/ajax-loader.gif) center center no-repeat;
}

.slick-prev,
.slick-next {
  margin: -38px 0 0;
  width: 41px;
  height: 75px;
  z-index: 1;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.slick-prev::before,
.slick-next::before {
  content: "";
  top: 10px;
  width: 52px;
  height: 52px;
  transform: rotate(45deg);
  position: absolute;
  transition: border-color 150ms;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #c7b299;
  border-left: 3px solid #c7b299;
  left: 11px;
}

.slick-prev {
  left: 8%;
}
.slick-prev:before {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #c7b299;
  border-left: 3px solid #c7b299;
  left: 11px;
  transition: border-color 150ms;
}
.slick-prev:hover:before {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #d1d1d1;
  border-left: 3px solid #d1d1d1;
}
.slick-prev:active:before {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #c7b299;
  border-left: 3px solid #c7b299;
}

.slick-next {
  right: 8%;
}
.slick-next:before {
  border-top: 3px solid #c7b299;
  border-right: 3px solid #c7b299;
  border-bottom: none;
  border-left: none;
  left: -25px;
  transition: border-color 150ms;
}
.slick-next:hover:before {
  border-top: 3px solid #d1d1d1;
  border-right: 3px solid #d1d1d1;
  border-bottom: none;
  border-left: none;
}
.slick-next:active:before {
  border-top: 3px solid #c7b299;
  border-right: 3px solid #c7b299;
  border-bottom: none;
  border-left: none;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  bottom: 0;
}

.slick-dots li {
  position: relative;
  width: 11px;
  height: 0;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  position: absolute;
  top: -50px;
  display: block;
  padding: 0px;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  color: transparent;
  outline: none;
  transition: background-color 80ms, border-color 80ms, transform 80ms, opacity 80ms;
}
.slick-dots li button[aria-selected=true] {
  background-color: #d3c1ad;
  opacity: 1;
}
.slick-dots li button:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  transform: scale(1.36);
  opacity: 1;
  outline: none;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:active {
  background-color: #d3c1ad;
}
.slick-dots li button:before {
  width: 11px;
  height: 11px;
}

.services {
  padding: 70px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.services-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 25px 0 0 0;
  transition: background-color 150ms;
}
.services-item-icon {
  display: block;
  height: 60px;
  fill: currentColor;
  color: #555;
  margin: 0 0 15px 0;
  transition: color 150ms;
}
.services-item-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555;
  transition: color 150ms;
}
.services-item:hover .services-item-title, .services-item:hover .services-item-icon {
  color: #c7b299;
}
.services-item:hover:after {
  background-color: #c7b299;
}
.services-item-txt {
  text-align: center;
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 0;
}

.realization {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fbfaf8;
  padding: 80px 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.realization-title {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555;
  max-width: 800px;
  margin: 0 0 20px;
}
.realization-txt {
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  max-width: 800px;
  margin: 0;
}
.realization-imgs {
  margin: 40px auto 0;
  width: 70%;
  max-width: 1230px;
  height: 25vw;
  max-height: 482px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/browser-center.jpg) no-repeat center center, url(../img/browser-left.jpg) no-repeat left 82px, url(../img/browser-right.jpg) no-repeat right 82px;
  background-size: 62.6% auto;
}

.textboxes {
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  width: 100%;
}
.textboxes-container {
  width: 66%;
  max-width: 1170px;
  margin: 0 auto;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.textboxes-title {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.textboxes-title-waxom {
  color: #c7b299;
}
.textboxes-txt {
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin: 0;
}
.textboxes-btn {
  display: block;
  width: 168px;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 48px;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: 0 -2px 0 0 #736357 inset;
  border: 1px solid transparent;
  border-bottom-color: #736357;
  cursor: pointer;
  outline: none;
  transition: color 150ms, background-color 150ms, border-color 150ms;
}
.textboxes-btn:hover {
  background-color: #fff;
  border-color: #736357;
  color: #8c8c8c;
}
.textboxes-btn:active {
  background-color: #8c7b6c;
  box-shadow: 0 -2px 0 0 #736357 inset;
  color: #ddd;
}
.textboxes-btn:focus {
  outline: none;
}

.latest-projects {
  width: 100%;
  padding: 80px 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.latest-projects-title {
  color: #555;
  font-weight: 600;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  max-width: 780px;
  margin: 0 0 8px;
}
.latest-projects-txt {
  font-family: "montserrat", "verdana", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  max-width: 780px;
}
.latest-projects-menu {
  margin: 14px 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.latest-projects-menu-btn {
  display: block;
  min-width: 70px;
  min-height: 32px;
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #8c8c8c;
  line-height: 32px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
  transition: color 150ms, background-color 150ms, border 150ms;
  margin: 10px;
}
.latest-projects-menu-btn:hover {
  background-color: #998675;
  border: 1px solid transparent;
  color: #fff;
}
.latest-projects-menu-btn:active {
  background-color: #8c7b6c;
  color: #eee;
}
.latest-projects-menu-btn:focus {
  outline: none;
}
.latest-projects-item_wrp {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.latest-projects-item {
  display: block;
  text-decoration: none;
  margin: 15px;
  width: 370px;
  position: relative;
}
.latest-projects-item:hover .latest-projects-item-img {
  filter: brightness(30%);
}
.latest-projects-item:hover .latest-projects-item-title {
  background-color: #362f2d;
}
.latest-projects-item:hover .latest-projects-item-title:before {
  border-bottom: 10px solid #362f2d;
}
.latest-projects-item-btn {
  display: none;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  fill: currentColor;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: color 150ms;
}
.latest-projects-item-btn:hover {
  color: #c7b299;
  outline: none;
}
.latest-projects-item-btn:active {
  filter: brightness(80%);
  outline: none;
}
.latest-projects-item-btn:focus {
  outline: none;
}
.latest-projects-item-btn-link {
  top: 104.5px;
  left: 143px;
}
.latest-projects-item-btn-lupa {
  top: 104.5px;
  left: 199px;
}
.latest-projects-item:hover .latest-projects-item-btn {
  display: block;
}
.latest-projects-item-img {
  display: block;
  width: 370px;
  height: 237px;
  transition: filter 150ms;
}
.latest-projects-item-title {
  padding: 22px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfaf8;
  position: relative;
  text-align: start;
  min-height: 100px;
  transition: background-color 150ms;
}
.latest-projects-item-title:before {
  content: "";
  border: 13px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -23px;
  left: 22px;
  transition: border-bottom 150ms;
}
.latest-projects-item-title-main {
  display: block;
  margin: 0 0 8px;
  font-family: "raleway", "verdana", sans-serif;
  color: #c7b299;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
}
.latest-projects-item-title-note {
  display: block;
  margin: 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.latest-projects-item:hover .latest-projects-item-title-main {
  color: #fff;
}
.latest-projects-item:hover .latest-projects-item-title-note {
  color: #c7b299;
}
.latest-projects-btn {
  display: block;
  width: 168px;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 48px;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: 0 -2px 0 0 #736357 inset;
  border: 1px solid transparent;
  border-bottom-color: #736357;
  cursor: pointer;
  outline: none;
  transition: color 150ms, background-color 150ms, border-color 150ms;
  margin: 25px 0 80px;
}
.latest-projects-btn:hover {
  background-color: #fff;
  border-color: #736357;
  color: #8c8c8c;
}
.latest-projects-btn:active {
  background-color: #8c7b6c;
  box-shadow: 0 -2px 0 0 #736357 inset;
  color: #ddd;
}
.latest-projects-btn:focus {
  outline: none;
}

.video {
  min-height: 300px;
  position: relative;
}
.video-content {
  width: 100%;
  height: 36.6666666667vw;
}
.video-content:focus {
  outline: none;
}
.video_wrp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 36.6666666667vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.video_wrp-hide {
  display: none;
}
.video-play-btn {
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.video-play-btn-icon {
  margin: auto;
  fill: #fff;
  transition: fill 150ms;
}
.video-play-btn:hover .video-play-btn-icon {
  fill: #c7b299;
}
.video-play-btn:active .video-play-btn-icon {
  fill: #c7b299;
  filter: brightness(80%);
}
.video-title {
  color: #fff;
  font-weight: 500;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  margin: 30px 0 15px;
  max-width: 800px;
}
.video-txt {
  font-family: "montserrat", "verdana", sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 25px;
  max-width: 600px;
}
.video-time {
  font-family: "montserrat", "verdana", sans-serif;
  color: #c7b299;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.excellent {
  display: flex;
  justify-content: center;
  background-color: #fbfaf8;
}
.excellent-content {
  margin: 80px 10px 0 28px;
  padding: 0 0 0 453px;
  min-height: 616px;
  background-image: url(../img/iphone_in_hand.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.excellent-content-title {
  color: #555;
  font-weight: 600;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  max-width: 670px;
  margin: 110px 0 30px 0;
}
.excellent-content-txt {
  font-family: "montserrat", "verdana", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  max-width: 670px;
}
.excellent-content-list {
  margin: 30px 0 0 60px;
  list-style-type: none;
  padding-left: 40px;
  font-familY: "montserrat", "verdana", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}
.excellent-content-list-item {
  list-style-type: none;
  position: relative;
}
.excellent-content-list-item:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 4px;
  left: -48px;
  background-image: url(../img/list-item.svg);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.counters {
  min-height: 300px;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.counters-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.counters-item:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 27px 0 0 0;
}
.counters-item-icon {
  fill: currentColor;
  color: #c7b299;
  margin: 0 0 30px;
}
.counters-item-numbers {
  font-family: "montserrat", "verdana", sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  margin: 0 0 17px 0;
}
.counters-item-title {
  font-family: "montserrat", "verdana", sans-serif;
  color: #c7b299;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.recent {
  width: 100%;
  padding: 80px 10px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.recent-title {
  color: #555;
  font-weight: 600;
  font-family: "raleway", "verdana", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  max-width: 780px;
  margin: 0 0 8px;
  text-align: center;
}
.recent-txt {
  font-family: "montserrat", "verdana", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  max-width: 780px;
  text-align: center;
}
.recent-item_wrp {
  margin: 10px auto 0;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recent-item {
  display: block;
  text-decoration: none;
  margin: 15px;
  width: 370px;
  position: relative;
}
.recent-item:hover .recent-item-img {
  filter: brightness(30%);
}
.recent-item:hover .recent-item-title {
  background-color: #362f2d;
}
.recent-item-date {
  position: absolute;
  top: 20px;
  left: 20px;
}
.recent-item-date-day {
  display: block;
  text-align: center;
  font-family: "montserrat", "verdana", sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  width: 50px;
  line-height: 35px;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  transition: background-color 150ms;
}
.recent-item-date-month {
  display: block;
  text-align: center;
  font-family: "roboto", "verdana", sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 50px;
  line-height: 25px;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  transition: background-color 150ms;
}
.recent-item-img {
  display: block;
  width: 370px;
  height: 220px;
  transition: filter 150ms;
}
.recent-item-title {
  padding: 22px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfaf8;
  position: relative;
  min-height: 175px;
  border: 1.0px solid #f8f8f8;
  border-top: none;
  transition: background-color 150ms, border-color 150ms;
}
.recent-item-title-main {
  display: block;
  margin: 3px 0 17px;
  font-family: "raleway", "verdana", sans-serif;
  color: #555;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
  transition: color 150ms;
}
.recent-item-title-note {
  display: block;
  margin: 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transition: color 150ms;
}
.recent-item-title-link {
  display: block;
  width: 100px;
  margin: 21px 0 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #c7b299;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  transition: color 150ms;
}
.recent-item-title-link:after {
  content: "";
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  position: absolute;
  top: 6px;
  left: 83px;
  transition: border-color 150ms;
}
.recent-item-title-link:hover {
  color: #fff;
}
.recent-item-title-link:hover:after {
  border-left: 5px solid #fff;
}
.recent-item-title-link:active {
  color: #c7b299;
}
.recent-item-title-link:active:after {
  border-left: 5px solid #c7b299;
}
.recent-item:hover .recent-item-date-day {
  background-color: #c7b299;
}
.recent-item:hover .recent-item-date-month {
  background-color: #a48d72;
}
.recent-item:hover .recent-item-title-main {
  color: #c7b299;
}
.recent-item:hover .recent-item-title-note {
  color: #fff;
}
.recent-item:hover .recent-item-title {
  border-color: transparent;
}
.recent-arrows {
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
}
.recent-arrows-btn {
  margin: 0 8px;
  width: 22px;
  height: 22px;
  border: 2px solid #c7b299;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: border-color 150ms;
}
.recent-arrows-btn:after {
  content: "";
  top: 5px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  position: absolute;
  transition: border-color 150ms;
}
.recent-arrows-btn:hover {
  border-color: #d1d1d1;
  background-color: transparent;
  outline: none;
}
.recent-arrows-btn:active {
  border-color: #c7b299;
}
.recent-arrows-btn:focus {
  outline: none;
}
.recent-arrows-btn:nth-of-type(1):after {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #c7b299;
  border-left: 2px solid #c7b299;
  left: 6px;
}
.recent-arrows-btn:nth-of-type(1):hover:after {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #d1d1d1;
  border-left: 2px solid #d1d1d1;
}
.recent-arrows-btn:nth-of-type(1):active:after {
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #c7b299;
  border-left: 2px solid #c7b299;
}
.recent-arrows-btn:nth-of-type(2):after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
  border-bottom: none;
  border-left: none;
  left: 4px;
}
.recent-arrows-btn:nth-of-type(2):hover:after {
  border-top: 2px solid #d1d1d1;
  border-right: 2px solid #d1d1d1;
  border-bottom: none;
  border-left: none;
}
.recent-arrows-btn:nth-of-type(2):active:after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
  border-bottom: none;
  border-left: none;
}

.partners {
  width: 100%;
  min-height: 489px;
  background-color: #585858;
  background-image: url(../img/bgr-partners.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.partners-link {
  display: block;
  margin: 45px;
  transition: filter 150ms, transform 150ms;
}
.partners-link:hover {
  filter: brightness(70%);
  transform: scale(1.1);
}
.partners-link:active {
  filter: none;
}

.footer {
  width: 100%;
  background-color: #111111;
}

.main-footer {
  width: 100%;
  min-height: 300px;
  background-color: #191919;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 65px 10px 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-footer-about, .main-footer-recent-posts, .main-footer-twitter, .main-footer-widget {
  width: 270px;
  margin: 15px;
}
.main-footer-about-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
  margin: 0 0 25px;
}
.main-footer-about-logo-svg {
  fill: currentColor;
}
.main-footer-about-logo-txt {
  font-family: "raleway", "verdana", sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}
.main-footer-about-txt {
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555;
}
.main-footer-about-link {
  display: block;
  width: 100px;
  margin: 25px 0 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  transition: color 150ms;
}
.main-footer-about-link:after {
  content: "";
  border: 4px solid transparent;
  border-left: 5px solid #d1d1d1;
  position: absolute;
  top: 6px;
  left: 83px;
}
.main-footer-about-link:hover {
  color: #fff;
}
.main-footer-about-link:hover:after {
  border-left: 5px solid #fff;
}
.main-footer-about-link:active {
  color: #d1d1d1;
}
.main-footer-about-link:active:after {
  border-left: 5px solid #d1d1d1;
}
.main-footer-recent-posts-title {
  display: block;
  margin: 25px 0 22px;
  font-family: "raleway", "verdana", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.main-footer-recent-posts-item {
  display: block;
  margin: 0 0 18px;
  padding: 0 0 20px;
  border-bottom: 2px solid #252525;
  text-decoration: none;
}
.main-footer-recent-posts-item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.main-footer-recent-posts-item-date {
  display: block;
  font-family: "montserrat", "verdana", sans-serif;
  color: #363636;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  margin: 0 0 5px;
  transition: color 150ms;
}
.main-footer-recent-posts-item:hover .main-footer-recent-posts-item-date {
  color: #fff;
}
.main-footer-recent-posts-item:active .main-footer-recent-posts-item-date {
  color: #363636;
}
.main-footer-recent-posts-item-txt {
  margin: 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transition: color 150ms;
}
.main-footer-recent-posts-item:hover .main-footer-recent-posts-item-txt {
  color: #c7b299;
}
.main-footer-recent-posts-item:active .main-footer-recent-posts-item-txt {
  color: #555;
}
.main-footer-twitter-title {
  display: block;
  margin: 25px 0 22px;
  font-family: "raleway", "verdana", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.main-footer-twitter-item {
  display: block;
  margin: 0 0 18px;
  padding: 0 0 20px;
  border-bottom: 2px solid #252525;
  text-decoration: none;
}
.main-footer-twitter-item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.main-footer-twitter-item-tag-name {
  color: #00bff3;
}
.main-footer-twitter-item-link-name {
  color: #959595;
}
.main-footer-twitter-item-date {
  display: block;
  font-family: "montserrat", "verdana", sans-serif;
  color: #363636;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  margin: 5px 0 0;
  transition: color 150ms;
}
.main-footer-twitter-item:hover .main-footer-twitter-item-date {
  color: #fff;
}
.main-footer-twitter-item:active .main-footer-twitter-item-date {
  color: #363636;
}
.main-footer-twitter-item-txt {
  margin: 0;
  font-family: "montserrat", "verdana", sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  transition: color 150ms;
}
.main-footer-twitter-item:hover .main-footer-twitter-item-txt {
  color: #c7b299;
}
.main-footer-twitter-item:active .main-footer-twitter-item-txt {
  color: #555;
}
.main-footer-widget-title {
  display: block;
  margin: 25px 0 22px;
  font-family: "raleway", "verdana", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.main-footer-widget-content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.main-footer-widget-content-img {
  display: block;
  margin: 0 0 10px;
  transition: filter 150ms;
}
.main-footer-widget-content-img:hover {
  filter: brightness(130%);
}
.main-footer-widget-content-img:nth-child(3), .main-footer-widget-content-img:nth-child(4) {
  margin: 0;
}

.copyright {
  min-height: 111px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "montserrat", "verdana", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1270px;
  margin: 0 auto;
}
.copyright_wrp {
  display: flex;
}
.copyright-item {
  border-right: 2px solid #252525;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}
.copyright-item:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.copyright-txt {
  color: #555;
}
.copyright-name {
  color: #959595;
}
.copyright-link {
  color: #c7b299;
  text-decoration: none;
  transition: color 150ms;
}
.copyright-link:hover {
  color: #fff;
}
.copyright-link:active {
  color: #c7b299;
}

/*# sourceMappingURL=style.css.map */
