.home-header {
    position: relative;
    width: 100%;
}

.site-header {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 130px;
    z-index: 1;
    width: $width-site-large;
    left: 50%;
    margin-left: $width-site-large * (-1/2);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    transition: color $trans-time;
    margin-right: 199px;
    
    &:hover {
        color: #998675;
    }

    &:active {
        color: #fff;
    }
    
    &-svg {
        fill: currentColor;
    }
    
    &-txt {
        font-family: $font-title;
        font-size: 34px;
        font-weight: 400;
        text-align: right;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-toggle {
        &, &-element {
            display: none;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }
    
    &-item {
        margin: 0 30px 0 0;

        &:last-child {
            margin: 0;
        }
    }
    
    &-link {
        @include menu-link;
        font-family: $font-txt;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        text-decoration: none;
    }
    
    &-btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.cart-btn {
    fill: currentColor;
    @include menu-link;
    background-color: transparent;
    margin-left: 63px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.search {
    margin-left: 28px;
    width: 27px;
    height: 28px;
    position: relative;

    &-label {
        display: block;
        width: 27px;
        height: 28px;
        fill: currentColor;;
        @include menu-link;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        cursor: pointer;
    }
    
    &-input {
        width: 0;
        min-height: 0;
        padding: 6px;
        outline: none;
        @include border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 40px;
        left: -170px;
        color: $clr-menu;
        font-family: $font-txt;
        font-size: 14px;
        font-weight: 400;

        &::-ms-clear {  display: none; width : 0; height: 0; }
        &::-ms-reveal {  display: none; width : 0; height: 0; }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration { display: none; }

        &:focus {
            width: 200px;
            min-height: 20px;
            transition: width 1s ease;
            border: 2px solid $clr-menu;
            border-radius: 3px;
        }
    }
}

.carusel {
    @include border-box;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    
    &-slide {
        padding: 150px;
        @include border-box;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        outline: none;

        &-1 {
            background-color: #585858;
            background-image: url(../img/bgr-carusel.jpg);
        }

        &-2 {
            background-color: #585858;
            background-image: url(../img/video-file.jpg);
        }

        &-3 {
            background-color: #585858;
            background-image: url(../img/bgr-partners.jpg);
        }

        &-4 {
            background-color: #585858;
            background-image: url(../img/video-file.jpg);
        }

        &-5 {
            background-color: #585858;
            background-image: url(../img/bgr-partners.jpg);
        }

        &-content {
            margin: 0 auto;
            width: 590px;
            min-height: 724px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        
            &-title {
                font-family: $font-title;
                font-size: 36px;
                line-height: 43.2px;
                font-weight: 500;
                color: #fff;
                margin: 0 0 5px 0;
        
                &-main {
                    font-family: $font-title;
                    font-size: 52px;
                    line-height: 62.4px;
                    font-weight: 800;
                    color: #fff;
                    margin: 0 0 10px 0;
                }
            }
            
            &-p {
                font-family: $font-txt;
                font-size: 16px;
                line-height: 1.5;
                font-weight: 300;
                color: #ffffff;
                margin: 0;
            }
            
            &-btn {
                @include button;
                margin: 0;
                margin: 40px 0 0 0;
            }
        }
    }
}
