.slick-loading .slick-list
{
    background: #fff url(../img/ajax-loader.gif) center center no-repeat;
}

.slick-prev,
.slick-next {
    margin: -38px 0 0;
    width: 41px;
    height: 75px;
    z-index: 1;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: transparent;
    cursor: pointer;

    &::before {
        content: "";
        top: 10px;
        width: 52px;
        height: 52px;
        transform: rotate(45deg);
        position: absolute;
        transition: border-color $trans-time;
        border-top: none;
        border-right: none;
        border-bottom: 3px solid #c7b299;
        border-left: 3px solid #c7b299;
        left: 11px;
    }
}


.slick-prev {
    left: 8%;
    &:before {
        @include carusel-btn(none, $bd-carusel-btn);
        left: 11px;
        transition: border-color $trans-time;
    }
    
    &:hover:before {
        @include carusel-btn(none, $bd-carusel-btn-hvr);
    }
    
    &:active:before {
        @include carusel-btn(none, $bd-carusel-btn);
    }
}


.slick-next {
    right: 8%;
    &:before {
        @include carusel-btn($bd-carusel-btn, none);
        left: -25px;
        transition: border-color $trans-time;
    }
    
    &:hover:before {
        @include carusel-btn($bd-carusel-btn-hvr, none);
    }
    
    &:active:before {
        @include carusel-btn($bd-carusel-btn, none);
    }
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    bottom: 0;
}

.slick-dots li {
    position: relative;
    width: 11px;
    height: 0;
    margin: 0 5px;
    padding: 0;
}

.slick-dots li button {
    position: absolute;
    top: -50px;
    display: block;
    padding: 0px;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    color: transparent;
    outline: none;
    transition: background-color 80ms,
        border-color 80ms,
        transform 80ms,
        opacity 80ms;

        &[aria-selected=true] {
            background-color: #d3c1ad;
            opacity: 1;
        }

    &:hover {
        background-color: transparent;
        border: 2px solid #d3c1ad;
        transform: scale(1.36);
        opacity: 1;
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: #d3c1ad;
    }

    &:before {
        width: 11px;
        height: 11px;
    }
}
