$font-title: 'raleway', 'verdana', sans-serif;
$font-txt: 'montserrat', 'verdana', sans-serif;
$roboto: 'roboto', 'verdana', sans-serif;
$clr-dark: #555;
$clr-light: #fff;
$clr-coloured: #c7b299;
$clr-head: #fff;
$clr-menu: #fff;
$clr-menu-hvr: #998675;
$clr-menu-act: #fff;
$clr-title: $clr-dark;
$clr-txt: #8c8c8c;
$clr-lnk: $clr-dark;
$clr-lnk-hvr: $clr-coloured;
$clr-lnk-act: $clr-dark;
$bd-carusel-btn: 3px solid $clr-coloured;
$bd-carusel-btn-hvr: 3px solid #d1d1d1;
$bd-arrows-btn: 2px solid $clr-coloured;
$bd-arrows-btn-hvr: 2px solid #d1d1d1;
$trans-time: 150ms;
