.services {
    width: 100%;
    padding: 30px 0;
    &-item {
        width: 50%;
        max-width: 340px;
        padding: 4%;
    }
}

.realization {display: none;}
.textboxes {display: none;}

.latest-projects {
    padding-top: 20px;

    &-title,
    &-txt {
        max-width: 85vw;
    }
    &-item_wrp {
        width: 100%;
    }

    &-item {
        margin: 15px 0;
        width: auto;
        background-color: #fbfaf8;
        transition: background-color $trans-time;

        &:hover,
        &:hover &-title {
            background-color: #fbfaf8;
        }

        &:hover &-img {
            filter: none;
        }

        &:hover &-title:before {
            border-bottom: 10px solid #fbfaf8;
        }

        &-btn {
            display: block;
            top: 25px;
            color: $clr-coloured;
            width: 85 * 0.36vw;
            max-width: 370 * 0.45px;
            margin-bottom: 60px;

            &:hover {
                color: $clr-coloured - #222;
            }

            &:active {
                color: $clr-coloured - #111;
            }

            &-link {
                left: 0;
                text-align: end;
            }

            &-lupa {
                left: auto;
                right: 0;
                text-align: start;
            }
        }

        &-img {
            width: 85vw;
            height: 85*237vw/370;
            max-width: 370 * 1.2px;
            max-height: 237 * 1.2px;
            margin-top: 78px;
        }

        &-title {
            padding: 22px 25px;
            @include border-box;
            background-color: #fbfaf8;
            position: relative;
            text-align: start;
            min-height: 100px;
            transition: background-color $trans-time;

            &:before {
                content: "";
                border: 13px solid transparent; 
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -23px;
                left: 22px;
                transition: border-bottom $trans-time;
            }

            &-main {
                display: block;
                margin: 0 0 8px;
                font-family: $font-title;
                color: $clr-coloured;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
                text-decoration: none;
            }

            &-note {
                display: block;
                margin: 0;
                font-family: $font-txt;
                color: #d1d1d1;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
            }

        }

        &:hover &-title-main {
            color: $clr-coloured;
        }

        &:hover &-title-note {
            color: #d1d1d1;
        }
        
    }

    &-btn {
        @include button;
        margin: 25px 0 80px;
    }
}

.excellent {
    
    &-content {
        background-size: $size-767*280;
        background-position: $size-1023*60 bottom;
        margin: 0;
        padding: 60px 0 $size-767*40;
        min-height: 580px;

        &-title,
        &-txt,
        &-list {
            max-width: none;
        }

        &-title {
            margin: 0 $size-767*80 30px;
        }

        &-txt {
            margin: 0 $size-767*80;
        }

        &-list {
            margin: 60px  $size-767*80 0 $size-767*300;

            &-item {
                line-height: 1.4;
                margin: 10px;
            }
        }
    }
}

.counters {display: none;}

.recent {
    padding: 60px 10px;
    &-item {
        width: 85vw;
        max-width: 370 * 1.2px;
        margin: 15px 0;
        &-img {
            width: 85vw;
            height: 85*220vw/370;
            max-width: 370 * 1.2px;
            max-height: 220 * 1.2px;
        }

        &:hover &-img {
            filter: none;
        }

        &:hover &-title {
            background-color: #fbfaf8;
        }

        &-title {
            &-link {
                &:hover {
                    color: $clr-coloured + #222;
                }

                &:hover:after {
                    border-left-color: $clr-coloured + #222;
                }

                &:active {
                    color: $clr-coloured;
                }
    
                &:active:after {
                    border-left-color: $clr-coloured; 
                }
            }
        }

        &:hover &-date-day {
            background-color: #363636;
        }

        &:hover &-date-month {
            background-color: #252525;
        }

        &:hover &-title-main {
            color: $clr-title;
        }

        &:hover &-title-note {
            color: $clr-txt;
        }

        &:hover &-title {
            border-color: transparent;
        }
    }

    &-arrows {
        display: none;
    }
}
.partners {
    min-height: auto;
    padding: $size-767*20 5%;
    @include border-box;

    &-link {
        margin: $size-767*30 $size-767*50;
        
        &:hover {
            filter: brightness(70%);
            transform: none;
        }
    }
    &-logo {
        width: $size-767*200;
        height: auto;
    }
}

.video {display: none;}
