.logo {
    margin: 0;
    transform: scale(1);
}

.site-header {
    width: $width-site-small - 10px;
    left: 50%;
    margin-top: 15px;
    margin-left: ($width-site-small - 2px) * (-1/2);
    height: 110px;
}

.menu-item {
    margin: 0 23px 0 0;
}

.cart-btn {
    margin-left: 30px;
}

.carusel-slide {
    padding-top: 120px;
}