.services {
    width: 680px;
    padding: 50px 0;
    margin: 0 auto;

    &-item {
        width: 340px;
        padding: 30px;
    }
}

.textboxes {

    &-container {
    width: 90%;
    min-height: 130px;
    }

    &-title {
        font-size: 26px;
    }

    &-txt {
        font-size: 16px;
    }
}

.latest-projects {
	&-title,
	&-txt {
		max-width: 630px;
	}
}

.excellent {
    
    &-content {
        background-size: 300px;
        background-position: $size-1023*60 bottom;
        margin: 0;
        padding: 0 0 80px;
        min-height: 680px;

        &-title,
        &-txt,
        &-list {
            max-width: none;
        }

        &-title {
            margin: 110px $size-1023*60 30px;
        }

        &-txt {
            margin: 0 $size-1023*60;
        }

        &-list {
            margin: 60px  $size-1023*60 0 $size-1023*450;

            &-item {
                line-height: 1.4;
                margin: 10px;
            }
        }
    }
}

.counters-item {
    width: 145px;

    &-icon {
        margin: 0 0 20px;
    }
    
    &-numbers {
        font-size: 42px;
        margin: 0 0 10px 0;
    }
    
    &-title {
        font-size: 12px;
    }
    
    &:after {
        margin: 20px 0 0 0;
    }
}

.recent {
    &-title,
    &-txt {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.partners {
    min-height: 589px;
    padding: 0px 54px;
    @include border-box;

    &-link {
        margin: 45px;
        transform: scale(1);
    
        &:hover {
            transform: scale(1.1);
        }
    }
}