.copyright {
    padding: $size-480*30 $size-480*10;
    font-size: $size-480*14;
    line-height: $size-480*20;

    &_wrp {
        flex-wrap: wrap;
        justify-content: center;

        &:first-child {
            margin: 0 0 $size-480*20;
        }
    }

    &-item {
        padding: 0 $size-480*20 0 0;
        margin: $size-480*20 $size-480*20 0 0;

        &:nth-child(4) {
            border: none;
            padding: 0;
            margin:  $size-480*20 0 0 0;
        }

        &:first-child {
            width: 100%;
            border: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}